:root{
    --page-header-h:70px;
    --page-body-h:max(30px, calc(100vh - var(--page-header-h)));

    --root-default-bgColor:rgb(43, 51, 68);
    --root-color:rgb(206, 212, 216);
    --root-fontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --page-header-bgColor:rgba(53, 77, 104, 0.98);
    --page-body-bgColor:rgb(40, 55, 75);
    --test-border:min(1px, 0.1vh, 0.1vw) solid grey;

    --settings-button-default-bgColor:rgba(236, 242, 248, 0.96);
    --settings-button-x-pos:min(30px, 3.8vw, 1.6vh);
    --settings-button-y-pos:min(32px, 1.9vh, 3.8vw);

    --theme-button-size:max(18px , 6.6vh, 5vw);
}   

* {
    box-sizing: border-box;
}

body{
    margin:0;
}

#root{
    color:var(--root-color);
    background-color: var(--root-default-bgColor);
    font-family: var(--root-fontFamily);
    position:relative;
}
#root-page-header{
    min-height:var(--page-header-h);
    position:sticky;
    top:0;
    z-index:2;
    background-color:var(--page-header-bgColor);
}
#root-page-body{
    min-height:var(--page-body-h);
    background-color:var(--page-body-bgColor);
}

#page-header,
#page-body,
#page-header-bar {
    min-height:inherit;
}

#page-header{
    display:flex;
    flex-flow:column wrap;
}

#page-header-bar,
#page-header-title {
    width:100%;
}

#page-header-bar{
    flex:1 0 max-content;
    display:flex;
    flex-wrap:wrap;
    padding-inline:max(13px,1.38vw);
    border-block:min(1px, 0.01vw, 0.01vh) inset rgba(73, 88, 122, 0.808);
}
#page-header-title{
    flex:1 1 max-content;
    display:inline-flex;
    flex-wrap:wrap;
    align-content:stretch;
    justify-content: flex-start;
    text-overflow: clip;
    
}
#page-title{
    font-size:35px;
    font-weight: lighter;
    padding-inline:min(1.6vw,3.4vh, 34px);
    text-overflow: ellipsis;
    hyphens: auto;
    text-overflow: clip;
    overflow: hidden;
    background-color: rgba(17, 21, 31, 0.356);
    display:inline-flex;
    flex-wrap:wrap;
    align-content:center;
}

section.page-section {
    height:max(64vh, var(--page-body-h));
    
}
.overflow {
    overflow:auto;
}
.no-overflow {
    overflow:hidden;
}

#--settings-button {
    display:block;
    position:fixed;
    bottom:var(--settings-button-y-pos);
    right:var(--settings-button-x-pos);
    border:var(--test-border);
    height:var(--theme-button-size);
    width:var(--theme-button-size);
    
    border-radius:100%;
    contain: strict;
    line-height: 0;
    
}
#--settings-button > button:first-child {
    height:100%;
    width:100%;
    background-color:var(--settings-button-default-bgColor);
    border:initial;
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content:center;
    font-size:max(10px, 3.2vw, 3.4vh);
    font-weight: light;
    text-align: center;
    opacity:0.98;
    
}
#--settings-button > button:not(:first-child){
    display:none;
}
#intro-section {
    
}

@media screen and (max-width:128px){
    html {
        min-width:128px;
        min-height: 100vh;
    }
    body{
        min-height: 100vh;
    }
}